body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 0;
}

.add-task {
    display: flex;
    margin-bottom: 20px;
}

#task-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

#add-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
}

#add-button:hover {
    background-color: #218838;
}

#task-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #eee;
}

.task-item:last-child {
    margin-bottom: 0;
}

.task-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.task-content input[type="checkbox"] {
    margin-right: 15px;
    cursor: pointer;
    transform: scale(1.2); /* Aumenta o tamanho do checkbox */
}

.task-description {
    font-size: 16px;
    color: #555;
    flex-grow: 1;
}

/* Estilo para tarefas concluídas */
.completed .task-description {
    text-decoration: line-through;
    color: #999;
}

.delete-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #c82333;
}